<ion-header>
  <ion-toolbar>
    <ion-title>TypeIndex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nom du type</ion-label>
        <ion-input type="text" [(ngModel)]="NewName"></ion-input>
        <ion-button slot="end" 
                    color="primary" 
                    size="medium"
                    (click)="add()">Nouveau</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>  
  
  <ion-card>
    <ion-card-content>
      <ion-list> <!-- <ul> -->
        <ion-item *ngFor="let item of List"
                  (click)="actions(item)">{{item.Name}}</ion-item> <!-- <li></li> -->
      </ion-list> <!-- </ul> -->
    </ion-card-content>
  </ion-card>
</ion-content>
